body {
    background: url(/img/lorem.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: "Fontdiner Swanky", cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.box {
    background-color: #efebd9;
    border: 1px solid #3b3b35;
    border-radius: 10px;
    opacity: .9;
}

nav .nav-wrapper {
    height: 100%;
}

nav .brand-logo, nav ul a {
    padding-left: 30px;
    padding-right: 30px;
}

/*to size grey band at bottom*/
footer.page-footer {
    padding-bottom: 30px;
}

/*to keep empty grey 'footer' at bottom of screen*/
main {
    flex: 1 0 auto;
}

a, .post-title {
    color: #5F5673;
}

.btn {
    background-color: #5F5673;
}

.btn:hover {
    background-color: #2F2545;
}

/*form label colors on focus*/
.input-field label,
textarea.materialize-textarea:focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label {
    color: #2F2545;
}

/*form underline color*/
#title, #content, #title:focus, #content:focus {
    border-bottom: 1px solid #2F2545;
}