body {
    background: url(/img/lorem.jpg) no-repeat center fixed;
    background-size: cover;
    font-family: "Fontdiner Swanky", cursive;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

nav .nav-wrapper {
    height: 100%;
    background-color: #5f5673;
}

nav .brand-logo, nav ul a {
    color: #efebd9;
    padding-left: 30px;
    padding-right: 30px;
    text-shadow: 1px 1px #3b3b35;
}

#welcome-user {
    color: #efebd9;
    padding-right: 30px;
}

.side-nav {
    background-color: #efebd9;    
}

.side-nav a {
    font-size: 1.5rem;
}

.box {
    background-color: #efebd9;
    border: 1px solid #3b3b35;
    border-radius: 10px;
    opacity: .9;
}

a, .post-title {
    color: #5F5673;
}

.btn {
    background-color: #5F5673;
    color: #efebd9;
    text-shadow: 1px 1px #3b3b35;
}

.btn:hover {
    background-color: #2F2545;
    color: #efebd9;
    text-shadow: 1px 1px #3b3b35;
}

/*form label colors on focus*/
.input-field label,
textarea.materialize-textarea:focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label,
input[type=password]:focus:not([readonly])+label {
    color: #5F5673;
}

/*form underline color*/
#title, #content, #username, #password,
#title:focus, #content:focus, #username:focus, #password:focus {
    color: #2F2545;
    border-bottom: 1px solid #2F2545;
    box-shadow: 0 1px 0 0 #2F2545;
}

.card.small {
    height: 215px;
}

#delete-btn {
    background-color: #A77879;
}

.pagination li.active, .card {
    background-color: #5F5673;
    color: #efebd9;
}

/*to keep empty grey 'footer' at bottom of screen*/
main {
    flex: 1 0 auto;
}
/*to size grey band at bottom*/
footer.page-footer {
    padding-bottom: 30px;
    background-color: #5F5673;
}
