body {
    background-image: url(/img/gray_jean.png);
    background-color: #e5e5e5;
    font-family: "Vidaloka", serif;
    font-size: 1em;
    color: #191919;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.container {
    width: 60%;
}

hr {
    margin-top: 140px;
    margin-bottom: 140px;
}

div.home-image{
    background: url(/img/purpleLaptop.jpg) no-repeat center;
    background-size: cover;
    margin: 0;
    height: 300px;
}

/*name on home page*/
.home-splash {
    color: #f8f8f8;
    padding-left: 100px;

}

/*target all but home page*/
h1.down {
    margin-top: 60px;
}

.bottom-margin {
    margin-bottom: 50px;
}

.bigger {
    font-size: 1.6em;
}

.right {
    text-align: right;
}

nav .nav-wrapper {
    height: 100%;
}

.text {
    color: #191919;
}

nav .brand-logo, nav ul a {
    padding-left: 30px;
    padding-right: 30px;
    color: #f8f8f8;
}

.image {
    border: 1px solid #191919;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #191919;
}

a {
    color: #9c27b0;
}

/*nav arrows on page*/
i.nav-arrow {
    color: #191919;
}

.btn {
    background-color: #9c27b0;
    border-radius: 5px;
}

.btn:hover {
    background-color: #4e1358;
}

/*form label colors on focus*/
textarea.materialize-textarea:focus:not([readonly])+label,
input[type=text]:focus:not([readonly])+label, 
input[type=email]:focus:not([readonly])+label {
    color: #9c27b0;
}

/*form underline color*/
#first_name, #last_name, #company, #email, #message,
#first_name:focus, #last_name:focus, #company:focus, #email:focus, #message:focus {
    border-bottom: 1px solid #9c27b0;
}

footer {
    font-size: .9em;
    color: #f8f8f8;
    padding-left: 10px;
}

/*to keep empty grey 'footer' at bottom of screen*/
main {
    flex: 1 0 auto;
}





