body#background {
    background: url(/img/castleBackground.jpg) no-repeat 50% 50% fixed;
    background-size: cover;
    display: flex;
}

.position {
    /*margin-top: 75px;*/
}

.wizTalk {
    color: #f7ece6;
    text-shadow: 2px 2px #171413;
}

.text {
    font-size: 2em;
    font-family: "Kaushan Script", cursive;

}

button {
    border-color: #171413;
    color: #171413;
    background-color: #f7ece6;
    border-radius: 5px;
    font-family: "Kaushan Script", cursive;
    font-size: 1em;
}

main {
    flex: 1 0 auto;
    min-height: 100vh;
    flex-direction: column;
}

.small {
    font-size: .75em;
    color: #f7ece6;
}

.container {
    text-align: center;
}

.wizard img {
    margin-top: 12em;
    margin-left: 4em;
}

.miniScroll img {
    margin-top: 22em;
    margin-left: 12em;
    
}

.warrior img {
    margin-top: 16em;
}

.showMe {
    opacity: 0;
    color: #171413;
}
